@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-family-inter: var(--font-inter);
}

body {
  font-family: var(--font-family-inter), sans-serif;
}
